* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;

  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

nav {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(20, 40, 64);
  background: radial-gradient(
    circle,
    rgba(20, 40, 64, 1) 0%,
    rgba(12, 17, 20, 1) 100%
  );

  color: #f5f5f5;
}

body {
  background: rgb(20, 40, 64);
  background: radial-gradient(
    circle,
    rgba(20, 40, 64, 1) 0%,
    rgba(12, 17, 20, 1) 100%
  );
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  z-index: -5;
}

main {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80vh;

  z-index: 0;
}

.text-main {
  justify-content: center;
  /* background-color: #e7e7e7; */
  color: #f5f5f5;

  text-align: center;
}

.text-main h1 {
  font-size: 96px;
}

.image-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.4); /* Cor preta com 50% de opacidade */
  background-size: cover;

  z-index: -1;
}

#image-main {
  background-size: cover;
  background-position: center;
}

.gradient {
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.github {
  color: #f3f3f3;
  opacity: 1;
  text-decoration: none;
  transition: 250ms;
}

.spotify:hover,
.github:hover {
  color: #f3f3f3;
  opacity: 0.5;
}

.songday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-top: 50px;

  color: #f3f3f3;
  text-align: center;

  z-index: 5;
}

/* .songday .coversongday {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 10px;
} */

#muteButton {
  cursor: pointer;
}

#muteButton:hover {
  opacity: 0.5;
}

/* Responsividade Inicío */
@media (max-width: 768px) {
  .text-main {
    width: 100%;
  }

  .text-main h1 {
    font-size: xx-large;
  }

  .text-main p {
    font-size: medium;
  }

  .gradient {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  }
}

.spotify-link {
  position: absolute;
  bottom: 30px;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 125px;
  border-radius: 125px 125px 0 0;
  background: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.spotify-link img {
  width: 50px;
  transform: translateY(-5px);
  filter: brightness(0) invert(1);
}

.spotify-link:hover {
  transform: translateX(-50%) translateY(-5px);
  background: #1ed760;
  cursor: pointer;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .spotify-link {
    width: 180px;
    height: 90px;
    top: 92%;
    border-radius: 90px 90px 0 0;
  }
  .spotify-link img {
    width: 40px;
    margin-top: 15px;
  }
}
